/* polco assessment */

body {
  background-color: #e2e2e2;
}

#main {
  display: flex;
  justify-content: center;
  margin-top: 5%;
  margin-bottom: 5%;
}

#main * {
  font-family: "Raleway", sans-serif;
}

.allBox {
  border: 1px solid #ccc;
  background-color: white;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
}

.students {
  height: 600px;
  width: 900px;
  border: 1px solid #ccc;
  overflow: auto;
  background-color: white;
  box-shadow: 0px 5px 7px rgba(0, 0, 0, 0.2);
}

.searchInputBox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.searchInput {
  width: 95%;
  height: 30px;
  background: transparent;
  border: none;
  outline: 0;
  border-bottom: 1px solid rgb(192, 192, 192);
  padding: 10px;
  font-size: 20px;
}

.searchInput::placeholder {
  font-size: 20px;
}

.subBox1 {
  display: flex;
}

.image {
  width: 125px;
  height: 125px;
  border-radius: 50% 50% 50% 50%;
  border: 1px solid #cfcfcf;
}

.imgBox {
  padding: 3%;
}

.subBox2 * {
  margin: 0;
}

.subBox2 p {
  text-indent: 20px;
  color: black;
  margin: 5px;
  /* line-height: 0.05; */
  /* font-weight: thin; */
}

.subBox4 {
  font-size: 25px;
  font-weight: bold;
}

hr {
  height: 1px;
  background-color: rgb(230, 230, 230);
  border: none;
}

.grade {
  display: flex;
}

.grades {
  margin: 10px 0px 10px 0px;
}

.buttonDiv {
  margin-left: auto;
}

.buttonDiv * {
  color: rgb(170, 170, 170);
  width: 2rem;
  height: 2rem;
  padding: 1rem;
}

.subBox5 {
  margin-top: 1rem;
}

.spanTag {
  font-size: 15px;
  background-color: rgb(224, 224, 224);
  background-size: 20px 20px;
  background-repeat: no-repeat;
  padding: 7px;
  border-radius: 5px 5px 5px;
  margin: 2px;
}

.tagBox {
  padding-left: 24px;
}

.tagInput:focus {
  outline: none;
  border-bottom-color: black;
}

.tagInput {
  background: transparent;
  border: none;
  outline: 0;
  border-bottom: 1px solid rgb(192, 192, 192);
  padding: 10px;
  font-size: 15px;
  margin: 10px 0px 10px 0px;
}

.searchInput::placeholder {
  font-size: 15px;
}
